

header{
    padding:10px;
    border-bottom: 2pt solid rgb(0, 255, 255);
}


.teams-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 1rem;
    /* flex: 1; */
    min-height: 0;
}

.teams-display{
    flex:1;
}

.teams-control{
    min-height:20vh;

}

.teamPanel{
    padding: 20px 0;
    font-size: clamp(0.5rem,2.5rem,36pt);
    text-align: center;
    color:black;
    border-radius:10pt;
}

.teamPanel h1{
    font-size: clamp(2rem, 8vw, 99pt);
}

.teamPanel button{
    min-width: 125px;
    margin: 0 20px ;
    font-weight: bold;
    border:2pt solid black;
}


.plus:hover{
    background-color: #00ff00;
    color:black;
}

.minus:hover{
    background-color: #ff2828;
    color:black;
}

.reset:hover{
    background-color:orange;
    color:black;
    font-weight: bold;
}

