
button{
    /* margin: 0.5em; */
    padding: 0.9em 1.6em;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.7em;
    cursor: pointer;
    flex: 1;
    background: linear-gradient(145deg, #4b4b4b, #1c1c1c);
    color: white;
    transition: transform 0.15s ease, box-shadow 0.15s ease, filter 0.15s ease;
    /* box-shadow: 0 6px 0 #000, 0 14px 25px rgba(40, 213, 219, 0.5); */

    text-align: center;
}

button:hover{
    transform: translateY(-3px);
    filter: brightness(1.15);
    color: rgb(21, 247, 255)
}

button:active{
    transform: translateY(3px);
    filter: brightness(0.95);
    box-shadow: 0 0 0 #000, 0 5px 10px rgba(0,0,0,0.4);
}