
input{
    display:none;
}

.clock{
    display:flex;
    justify-content:center;
    align-items:center;
}

.clockBorder{
    padding:0 8vw;
    background-color: rgb(18, 18, 18);
    border:6pt solid rgb(61, 61, 61);
    border-radius: 20pt;
    display:flex;
    justify-content:center;
    align-items:center;
}

.clock h1{
    text-align: center;
    color:#dd1212;
    text-shadow: 0 0 20px #dd1212;
    animation: flicker 1.5s infinite alternate;
    cursor:pointer;
    

}

#clockInput{
    display:none;
    font-size: clamp(3rem, 10vw, 500px);
    text-align: center;
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    width:100%;

}

.edit{
    font-size: clamp(3rem, 10vw, 500px);
}

.display{
    font-size: clamp(3rem, 20vw, 1000px);
}

.clockControls{
    margin:0 2rem 0 2rem;
    display:grid;
    place-items:center;

    
}
.clockControls button{
    margin:10px 0 ;
    width:100%;

}

.clockControls .pauseButton{
    display:none;
}