
input{
    display:none;
}

.clock{
    background-color: rgb(37, 37, 37);
    border:6pt solid rgb(61, 61, 61);
    border-radius: 50pt;
    display:flex;
    justify-content:center;
    align-items:center;
}

.clock h1{
    text-align: center;
    color:#dd1212;
    text-shadow: 0 0 20px #dd1212;
    animation: flicker 1.5s infinite alternate;
    cursor:pointer;
    

}

.edit{
    font-size: clamp(3rem, 10vw, 500px);
}

.display{
    font-size: clamp(3rem, 20vw, 1000px);
}

.clockControls{
    margin:0 2rem 0 2rem;
    display:grid;
    place-items:center;

    
}
.clockControls button{
    font-size: clamp(1rem, 2rem, 20pt);
    margin:10px 0 ;
    width:100%;

}

.clockControls .pauseButton{
    display:none;
}